body {
  background-image: url('images/background.png');
}

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  padding: 10px;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  align-items: center;
  justify-content: center;
  font-size: calc(20px + 2vmin);
  font-weight: bold;
  color: white;
  padding: 10px;
}

.pokemon-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

.functions {
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 20px;
}

.options {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: #ed7112; */
  background-color: rgba(206, 135, 0, 0.7);
  padding: 10px;
  margin-top: 15px;
  row-gap: 5px;
}

h1 {
  font-weight: bold;
  color: white;
}

h3 {
  font-weight: bold;
  color: white;
}

.filter-category {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  column-gap: 5px;
}

.filter-text {
  color: white;
  font-weight: bold;
  font-size: 2vmin;
}

.team {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: #ed7112; */
  background-color: rgba(206, 135, 0, 0.7);
  padding: 10px;
  margin-top: 15px;
  row-gap: 5px;
  width: 50%;
}

.team-wrapper {
  display: flex;
  justify-content: center;
}

.pList {
  display: flex;
  flex-direction: row;
}

